@import url(//db.onlinewebfonts.com/c/4fb2accf874593635afa99c122467fd6?family=MijaW03-Regular);
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "MijaW03-Regular";
}

nav {
  background-color: rgba(0, 0, 0, .2);
  padding: 16px 36px;
  height: 63px;
  display: grid;
  grid-template-columns: 175px 1fr 350px;
  column-gap: 20px;
  align-items: center;
  border-bottom: 1px solid white;
  font-weight: bold;
}

nav img {
  height: 63px;
  margin-bottom: -20px;
}

nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  font-size: 21.5px;
}

nav a {
  color: inherit;
  text-decoration: inherit;
}

nav ul li:last-child {
  display: flex;
  align-items: center;
  padding: .35em .5rem .35em 1rem;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
}

nav .input-wraper {
  display: flex;
  align-items: center;
}

nav .input-wraper i {
  font-size: 28px;
  margin-right: -40px;
  z-index: 2;
  color: #d65636;
}

nav .input-wraper input {
  width: calc(100% - 60px);
  height: 53px;
  border: none;
  border-radius: 11px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  padding: 0 0 0 60px;
}

nav .input-wraper input::placeholder {
  font-weight: bold;
  color: #7a7a7a;
  font-size: 20px;
}

.lasted-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 600px;
  z-index: 1;
}

.lasted-articles>article:nth-child(1) {
  background-color: rgba(0, 0, 0, .5);
}

.lasted-articles>article:nth-child(2) {
  background-color: rgba(0, 0, 0, .4);
}

.lasted-articles>article:nth-child(3) {
  background-color: rgba(0, 0, 0, .4);
}

.lasted-articles>article:nth-child(4) {
  background-color: rgba(0, 0, 0, .5);
}

.main-title {
  height: 100px;
  color: blue;
  background-color: white;
  margin: 0;
  margin-top: 100px;
  margin-bottom: -200px;
  z-index: 1000;
  text-align: center;
}

footer {
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  padding: 40px;
  line-height: 2rem;
  background-image: url('https://www.smashingmagazine.com/images/footer/laptop__left.svg'), url('https://www.smashingmagazine.com//images/smashing-cat/cat-the-behemoth.svg');
  background-position: left 15% bottom 1em, right 12% bottom 2em;
  background-size: 11em auto, 14em auto;
  background-repeat: no-repeat;
}

footer ul {
  list-style-type: disc;
}

footer li {
  display: inline;
  font-size: 20px;
}

.red-button-list li::before {
  content: '•';
  margin: 0 .25em;
  display: inline-block;
  color: #811d15;
  font-size: calc(1em + ((.4vw + .25vh)/2));
  position: relative;
  top: 2px;
}

.footer-em-wraper {
  width: 40vw;
  min-width: 400px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-em-wraper em {
  font-size: 14px;
}

footer a {
  color: white;
  font-size: 14px;
  margin-right: 20px;
}